.selector {
    display: grid;
    margin-bottom: 10px;
    /*grid-template-columns: auto;*/
    /*grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );*/
    /*grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));*/
    /*align-items: center;*/
    /*justify-items: start;*/
    /*grid-auto-flow: column;*/

    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-auto-rows: minmax(30px, auto);*/
    grid-gap: 4px;
    /*grid-template-rows: auto;*/
    /*grid-template-columns: 1fr 1fr;*/
    /* e.g.
        1fr 1fr
        minmax(10px, 1fr) 3fr
        repeat(5, 1fr)
        50px auto 100px 1fr
    */
    /*grid-template-rows: 1fr 1fr*/
    /* e.g.
        min-content 1fr min-content
        100px 1fr max-content
    */

}

.selector-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    /*width: calc(100% - 100px);*/
    /*padding: 0 18px;*/
    /*display: none;*/
    /*max-height: 0;*/
    /*overflow: hidden;*/
    /*transition: max-height 0.2s ease-out;*/
    /*overflow: hidden;*/
}

.selector-item {
    white-space: nowrap;
}

.selector-button {
    font-size: 16px;
    white-space: nowrap;
    grid-column: 1 / -1;
    background-color: lightsteelblue;
    padding: 18px;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 2.4s;

}

.geoselector-button {
    align-items: center;
}

.geoselector-flag {
    vertical-align: middle;
    margin-left:10px;
    width: 35px;
}

.selector-open {
    display: grid;
}
.selector-closed {
    display: none;
}

.active, .selector-button:hover, .geoselector-button:hover {
    background-color: lightblue;
}


.country-button {
    background-color: white;
    width: 100px;
}

.country-button:hover,
.country-button:focus {
    background: white;
}